<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.challenges.fr/assets/img/2013/07/17/cover-r4x3w1000-578e6a49182b8-wagonrestaurant.jpg);">
  <div class="container">
    <h1>Le Wagon Bar</h1>    
    <div class="buttons-banner">
    <a class="btn btn-flat" href="#cocktails-list">See all cocktails</a>
    <%= link_to "Create a cocktail", new_cocktail_path, class: 'btn btn-flat' %>

    </div>
  </div>
</div>