// Specific CSS for your home-page

.wrapper {
  margin: 100px auto;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 40px;
  // grid-auto-rows: minmax(100px, auto);
  width: 700px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}