.wrapper-show {
  border: #A1006B 1px solid;
  margin: 50px auto;
  border-radius: 25px;
}

.show-content {
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 25px;
}

h1,h2 {
  font-family: 'Roboto';
  font-weight: 300;
  color:#A1006B ;
}

